.main-cont{
    height: 100vh;
    background-image: url(desk2.jpg);
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#heading{
    
    font-family: cursive;
    color: white;
    background-color: transparent;
    border-bottom: 5px solid white ;
    padding:0;
}

.to-do-cont{
    height: 50%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    
}



.ref-sec{
 display: flex; 
 justify-content: space-around;
}

#comm-sec{
    visibility: hidden;
}



#input-sec{
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 5px solid white ;
}


.to-do-item{
    flex:3;
    background-color: rgba(255, 251, 251, 0.4);
    border-radius: 10px ;
    font-weight: 500;
}


.to-do-item2{
    flex:3;
    background-color: rgba(255, 251, 251, 0.4);
    border-radius: 10px ;
    font-weight: 500;
}

#doneChore{
    flex:1;
}